<div class="modal fade" id="dispatchOrderModal{{order.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-center">Set Order For Delivery</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            <form action="{% url 'dispatch-order' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                <div class="mb-2">
                    <p>Are you sure to set order <b>{{order.order_number}}</b> for delivery?</p>
                </div>
                <div class="mb-2">
                    <input
                      type="number"
                      class="form-control"
                      id="order_id"
                      name="order_id"
                      value="{{order.id}}"
                      readonly
                      hidden
                      required
                    />
                  </div>
                 
                <div class="text-center mt-2">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No, Close</button>
                    <button type="submit" class="btn btn-success">Yes, Proceed</button>
                </div>
              </div>
              </form>
      </div>
    </div>
  </div>