<div class="modal fade" id="dispatchDeliveryModal{{delivery.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-center">Dispatch Delivery</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            <form action="{% url 'dispatch-delivery' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                <div class="mb-2">
                  {% if delivery.delivery_type == "Multiple Orders" %}
                    <p>Are you sure to dispatch bundled delivery for rided named: <b>{{delivery.rider}}</b></p>
                  {% else %}
                    <p>Are you sure to dispatch delivery for order number: <b>{{delivery.order.order_number}}</b>?</p>
                  {% endif %}
                </div>
                <div class="mb-2">
                    <input
                      type="number"
                      class="form-control"
                      id="delivery_id"
                      name="delivery_id"
                      value="{{delivery.id}}"
                      readonly
                      hidden
                      required
                    />
                  </div>
                 
                <div class="text-center mt-2">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No, Close</button>
                    <button type="submit" class="btn btn-success">Yes, Proceed</button>
                </div>
              </div>
              </form>
      </div>
    </div>
  </div>