<div class="modal fade" id="clientDetailsModal{{client.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Client Details</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col">
                <p><b>Name: </b>{{client.name}}</p>
                <p><b>Phone: </b>{{client.phone_number}}</p>
                <p><b>Email: </b>{{client.email}}</p>
                <p><b>Website: </b>{{client.website}}</p>
            </div>
            <div class="col">
                <p><b>Address: </b>{{client.address}}</p>
                <p><b>Town: </b>{{client.town}}, {{client.country}}</p>
                <p><b>Date Added: </b>{{client.created}}</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>